



@mixin encabezado($size: 1.5rem) {
  font-size: $size;
  font-weight: bold;
  text-align: center;
}

@mixin h2 {
  @include encabezado(1.5rem);
  margin-bottom: $space-md;
}

@mixin centrar-contenido($direction: row, $gap: 0) {
  display: flex;
  flex-direction: $direction;
  justify-content: center;
  align-items: center;
  gap: $gap;
}

@mixin estilos-form {
  background-color: $color-overlay;
  border-radius: 0 0 $radius-sm $radius-sm;
  height: 100%;
  width: 100%;
  color: $color-light;
  text-align: center;
}